@use '../../assets/styles/base/functions';

$ROOT: functions.makeRoot('tree');
@function el($name) {
  @return functions.makeSubElementName($ROOT, $name);
}

#{$ROOT} {
  background-color: #252526;
  color: #C7C7C7;

  padding: 8px;

  height: 100%;
  overflow-y: auto;
  overflow-x: scroll;
  &.size-narrow {
    width: 160px;
  }

  &.size-normal {
    width: 240px;
  }

  &.size-wide {
    width: 320px;
  }
}
